*{
    background-color: rgb(8, 8, 8);
    margin: 0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    text-align: center;
}

header h1{
    color: blueviolet;
    padding: 30px 30px 15px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

header p{
color: aliceblue;
font-size: 20px;
margin-bottom:5ls
0px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
}

.flex-item{
    flex-basis: 30%;
    border: 2px solid white;
    border-style: dashed;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    

}

.flex-item h2{
    color: blueviolet;
    font-size: 30px;
    border: 5px solid rgb(116, 106, 106);
    border-radius: 10px;
    margin: 0 15px ;
    position:relative;
    bottom:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-item div{
    color: white;
    background-color: blueviolet;
    margin: 10px;
    flex-grow:1;
    /*border: 10px solid black;*/
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.p-style{
    color: blueviolet;
    text-align: center;
    font-size: 18px;
}

.flex-item p{
    background-color: transparent;

}

footer{
    color: white;
    text-align: center;
    font-size: 40px;
}

@media screen and (max-width :991px){


    .flex-item{
        flex-basis: 50%;
    }
}

@media screen and (max-width :767px){
    .flex-container{
        display: block;
    }



    .flex-item{
        flex-basis: 100%;
        
        
    }
}


