*{
    margin: 0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: linear-gradient(40deg, black, rgb(14, 37, 19));
}

header{
    text-align: center;
}

header h1{
    color: rgb(10, 245, 30);
    padding: 30px 30px 15px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

header p{
color: aliceblue;
font-size: 20px;
padding: 0 100px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 55px 40px 0 40px;
}

.flex-item{
    flex-basis: 30%;
    border: 2px solid white;
    border-style: dashed;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    

}

.flex-item h2{
    background-color: black;
    color: rgb(43, 226, 98);
    font-size: 30px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 0 15px ;
    padding-left:5px;
    position:relative;
    bottom:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    z-index: 2;
}

.flex-item div{
    color: white;
    background: linear-gradient(40deg, rgb(0, 53, 11), rgb(11, 143, 17));
    margin: 10px;
    flex-grow:1;
    /*border: 10px solid black;*/
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
}


.p-style{
    color: rgb(43, 194, 66);
    text-align: center;
    font-size: 18px;
}

.flex-item pre {
    color: white;
}

footer{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top:40px;
}

@media screen and (max-width :991px){


    .flex-item{
        flex-basis: 50%;
    }
}

@media screen and (max-width :767px){
    .flex-container{
        display: block;
    }



    .flex-item{
        flex-basis: 100%;
        
        
    }
}


